@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}

body{
    background-color: var(--very-light-grayish-blue);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.notifications-container{
    margin:auto;
    width:38%;
    background-color: var(--white);
    margin-top:2rem;
    padding:2rem;
    padding-bottom:0;
}

/* headings section */

.headings{
    display: inline-flex;
    width:100%;
    height:2.2rem;
    margin-bottom:3%;
}

.head-contents{
    margin:0 20px 0 20px;
}

#notifications{
    font-size:1.5rem;
}

#number{
    font-size:1.2rem;
    margin-top:4px;
    margin-left:-10px;
    background-color:var(--blue);
    border-radius:0.5rem;
    width:30px;
    height: 1.4em;
    text-align:center;
    color:var(--white);
    font-weight:500;
}

#read{
    font-size:1rem;
    margin-left:45%;
    margin-top:0.5rem;
    display:inline;
    color:var(--dark-grayish-blue);
    text-decoration:none;
}

/* activity section */
.message-container{
    display:flex;
    margin-bottom:1%;
    height:9vh;
}

.message-container:nth-of-type(4){
    height:18vh;
    margin-bottom:4%;
}

.message-container:nth-of-type(5){
    display:flex;
}

.your-pic{
    height:5vh;
    margin-left:30%;
    margin-top:3%;
}

.unread{
    background-color:var(--very-light-grayish-blue);
}

.users{
    height:3rem;
    width:3rem;
    margin:1.5rem;
}

.activities{
    margin-bottom:-0.8rem;
}

.user-names{
    font-weight:600;
}

.message{
    border: solid 0.01rem var(--light-grayish-blue-2);
    border-radius:0.2rem;
    height:55%;
    width:31vw;
}

.message-box{
    text-decoration:none;
    height: 100%;
    width: 100%;
    display:block;;
}

.message-txt{
    width:28vw;
    color:black;
    text-decoration:none;
    position:absolute;
    top:52vh;
    left:37.5vw;
}
